body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.57;
}
.center{
    text-align: center;
}
.blue, a{
    color: #0691d7;
}
.yellow{
    color: #ffa400;
}
.big-font{
    font-size: 36px;
}
.italic{
    font-style: italic;
}
.left{
    text-align: left;
}
.main-title {
    height: 512px;
    background-color: #0691d7;
    background-image: url(/assets/images/60423972b0a20.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 48px;
    letter-spacing: 5px;
}
.recept {
    width: 60%;
    margin: auto;
}
table {
    font-size: 18px;
}